name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: npm run lint

  build-image:
    needs: check-code
    uses: ./.github/workflows/docker-publish.yml
    with:
      image_name: visitor-counter
    secrets:
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}

  finalize:
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Uruchom moją akcję
        uses: ./.github/actions/success-message
